.popup__input {
  margin: 0 auto 30px auto;
  min-width: 358px;
  min-height: 27px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  outline: none;
}
.popup__input:last-of-type {
  margin-bottom: 0;
}

@media all and (max-width: 600px) {
  .popup__input {
    min-width: 238px;
    min-height: 27px;
  }
}
