.profile__add-btn {
  min-width: 150px;
  min-height: 50px;
  border: 1px solid #fff;
  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff);
  background-position:center;
  background-size: 22px 2px,2px 22px;
  background-repeat:no-repeat;
}
.profile__add-btn:hover {
  opacity: 0.6;
}

@media all and (max-width: 1024px) {
  .profile__add-btn {
    width: 99%;
    margin: 36px auto 0 auto;
  }
}
