.profile__add {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Vector.svg);
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 7px;
  outline: none;
  background-color: unset;
}
.profile__add:hover {
  opacity: 0.6;
}

@media all and (max-width: 425px) {
  .profile__add {
    width: 18px;
    height: 18px;
    margin: 0;
  }
}
