.header {
  display: flex;
  align-items: start;
  width: 68.75%;
  margin: 0 auto;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media all and (max-width: 767px) {
  .header {
    width: 100%;
    min-height: 54px;
  }
}
