.popup__error {
  position: absolute;
  top: 147px;
  left: 37px;
  visibility: hidden;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin-top: 5px;
  max-width: 358px;
}

@media all and (max-width: 600px) {
  .popup__error {
    max-width: 238px;
  }
}
