.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background:
  linear-gradient(#fff,#fff),
  linear-gradient(#fff,#fff);
  background-position:center;
  background-size: 40px 4px,4px 40px;
  background-repeat:no-repeat;
  transform: rotate(-45deg);
}
.popup__close:hover {
  opacity: 0.6;
}

@media all and (max-width: 600px) {
  .popup__close {
    top: -35px;
    right: 2px;
    width: 26px;
    height: 26px;
    background-size: 26px 2px,2px 26px;
  }
}
