.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-image: url(../../../images/closeIcon.svg);
  background-repeat:no-repeat;
  background-position: center;
  background-color: unset;
  outline: none;
  border: none;
}
.popup__close:hover {
  opacity: 0.6;
}

@media all and (max-width: 600px) {
  .popup__close {
    top: -45px;
    right: 6px;
    max-width: 26px;
    max-height: 26px;
    background-image: url(../../../images/closeIconSmall.svg);
  }
}
